<form [formGroup]="search_cin" (ngSubmit)="onSubmit()" *ngIf="!show_user_infos">
  <div class="row g-3">
    <div class="col-8">
      <div class="form-group" [ngClass]="{ 'has-error': invalidcin() }">
        <input
          type="text"
          formControlName="cin"
          [ngClass]="{ 'is-invalid': invalidcin() }"
          name="cin"
          id="cin"
          class="form-control"
          autocomplete="off"
          placeholder="CIN"
        />
        <p class="error" [ngClass]="{ set: invalidcin() }">{{ errorCin }}</p>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group" style="display: flex; justify-content: flex-end">
        <input type="submit" value="Chercher" id="ajouter" />
      </div>
   </div>
 </div>
</form>

<div *ngIf="show_user_infos">
    <app-kyc-table
      [user]="user"
    ></app-kyc-table>

    <div class="buttons_bottom">
      <button (click)="set_show_user_infos(false)">Retour</button>
      <button (click)="suivant()">Suivant</button>
    </div>
</div>

